{% extends 'app/base.html' %}

{% block content %}

<div class="text-center my-5">
  <div class="mb-5">
    <h3>「{{ keyword }}」の検索結果</h3>
  </div>
  <div class="row">
    {% for book in book_data %}
      <div class="col-3 mb-3">
        <div class="card img-thumbnail booklist h-100">
          <img src="{{ book.image }}" alt="book_data" class="card-img-top card-thum">
          <div class="card-body text-center px-2 py-3">
            <h5 class="font-weigh-bold">{{ book.title }}</h5>
            <a href="{{ book.url }}" class="stretched-link"></a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>「{{ keyword }}」に該当するものはありません</p>
    {% endfor %}
  </div>
</div>

{% endblock %}